<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR (MENU LATERAL) -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item>INICIO</a>
      <a href="" mat-list-item>USUARIOS</a>
      <a href="" mat-list-item>CURSOS</a>
      <a routerLink="/auth/login" mat-list-item>CERRAR SESION</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- AREA DERECHA (CONTENIDO) -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>

    <app-users />
  </div>
</mat-drawer-container>
