<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR (MENU LATERAL) -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a
        routerLinkActive
        #homeLink="routerLinkActive"
        routerLink="home"
        [activated]="homeLink.isActive"
        mat-list-item
        >INICIO</a
      >
      <a
        routerLink="users"
        mat-list-item
        routerLinkActive
        #usersLink="routerLinkActive"
        [activated]="usersLink.isActive"
        >USUARIOS</a
      >
      <a
        routerLink="sales"
        mat-list-item
        routerLinkActive
        #salesLink="routerLinkActive"
        [activated]="salesLink.isActive"
        >VENTAS</a
      >
      <a
        routerLink="categories"
        mat-list-item
        routerLinkActive
        #categoriesLink="routerLinkActive"
        [activated]="categoriesLink.isActive"
        >CATEGORIAS</a
      >
      <a
        routerLink="products"
        mat-list-item
        routerLinkActive
        #productsLink="routerLinkActive"
        [activated]="productsLink.isActive"
        >PRODUCTOS</a
      >

      <a (click)="logout()" mat-list-item>CERRAR SESION</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- AREA DERECHA (CONTENIDO) -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar>
      <div
        class="d-flex justify-content-between align-items-center w-100 h-100"
      >
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
        </div>
        <div *ngIf="authUser$ | async; let authUser">
          <p>{{ authUser.firstName }} {{ authUser.lastName }}</p>
        </div>
      </div>
    </mat-toolbar>

    <router-outlet />
    <!-- <app-users /> -->
  </div>
</mat-drawer-container>
